<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Duy Anh - R&D">
    <title> <%= __('RECTIFIER MONITORING SYSTEM') %> </title>

    <script src="socket.io/socket.io.js"></script>
    

    <!--______________KHỞI TẠO SOCKET.IO______________ -->
    <script>
        var socket = io("localhost:3000")
        socket.on('error', function (message) {
            alert(message);
        });
    </script>

    <!--______________KHAI BÁO CÁC SOURCE______________ -->
    <script src="https://kit.fontawesome.com/212982cf09.js" crossorigin="anonymous"></script>
    <script src="js/plotly-2.8.3.min.js"></script>
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>

    <!--______________ĐƯỜNG DẪN CÁC FILE FUNCTION JS______________ -->
    <script src="js/FC1_Common.js"></script>




    <!--______________ĐƯỜNG DẪN CSS______________ -->
    <link rel="stylesheet" href="CSS/root.css">
    <link rel="stylesheet" href="CSS/header.css">
    <link rel="stylesheet" href="CSS/screen_modules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <!--______________ĐƯỜNG DẪN FAVICON______________ -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>

    <div id="Screen_Module">

    <!--===============================================================
                                UPPER                               
    =================================================================-->
        <div class="upper-section">
            <!-- Screen 1-->
            <div id="screen1">
                <div class="list_module">
                    <!--Module 1-->
                    <div class="box_module">
                        <div class="box_head_module">
                            <p>MODULE 1</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_1' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_1' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id="module_Temperature_DC_1" class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id="module_Temperature_Environment_1" class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id="module_StateWord_1" class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 2-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 2</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id="module_DC_Current_2" class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id="module_DC_Voltage_2" class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id="module_Temperature_DC_2" class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id="module_Temperature_Environment_2" class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id="module_StateWord_2" class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 3-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 3</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_3' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_3' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_3' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_3' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_3' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 4-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 4</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_4' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_4' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_4' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_4' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_4' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 5-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 5</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_5' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_5' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_5' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_5' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_5' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 6-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 6</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_6' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_6' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_6' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_6' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_6' class="module_innershape"></div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Screen 2 -->
            <div id="screen2" style="display: none;">
                <div class="list_module">
                    <!--Module 7-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 7</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_7' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_7' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_7' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_7' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_7' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 8-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 8</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_8' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_8' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_8' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_8' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_8' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 9-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 9</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_9' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_9' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_9' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_9' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_9' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 10-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 10</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_10' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_10' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_10' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_10' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_10' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 11-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 11</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_11' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_11' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_11' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_11' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_11' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 12-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 12</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_12' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_12' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_12' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_12' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_12' class="module_innershape"></div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Screen 3 -->
            <div id="screen3" style="display: none;">
                <div class="list_module">
                    <!--Module 13-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 13</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_13' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_13' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_13' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_13' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_13' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 14-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 14</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_14' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_14' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_14' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_14' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_14' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 15-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 15</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_15' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_15' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_15' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_15' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_15' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 16-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 16</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_16' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_16' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_16' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_16' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_16' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 17-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 17</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_17' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_17' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_17' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_17' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_17' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 18-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 18</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_18' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_18' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_18' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_18' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_18' class="module_innershape"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Screen 4 -->
            <div id="screen4" style="display: none;">
                <div class="list_module">
                    <!--Module 19-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 19</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_19' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_19' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_19' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_19' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_19' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 20-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 20</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_20' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_20' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_20' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_20' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_20' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 21-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 21</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_21' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_21' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_21' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_21' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_21' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 22-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 22</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_22' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_22' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_22' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_22' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_22' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 23-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 23</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_23' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_23' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_23' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_23' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_23' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 24-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 24</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_24' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_24' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_24' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_24' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_24' class="module_innershape"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Screen 5 -->
            <div id="screen5" style="display: none;">
                <div class="list_module">
                    <!--Module 25-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 25</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_25' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_25' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_25' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_25' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_25' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 26-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 26</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_26' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_26' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_26' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_26' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_26' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 27-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 27</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_27' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_27' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_27' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_27' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_27' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 28-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 28</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_28' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_28' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_28' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_28' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_28' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 29-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 29</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_29' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_29' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_29' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_29' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_29' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 30-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 30</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_30' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_30' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_30' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_30' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_30' class="module_innershape"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Screen 6 -->
            <div id="screen6" style="display: none;">
                <div class="list_module">
                    <!--Module 31-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 31</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_31' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_31' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_31' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_31' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_31' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 32-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 32</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_32' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_32' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_32' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_32' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_32' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 33-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 33</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_33' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_33' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_33' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_33' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_33' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 34-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 34</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_34' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_34' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_34' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_34' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_34' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 35-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 35</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_35' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_35' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_35' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_35' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_35' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 36-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 36</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_36' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_36' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_36' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_36' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_36' class="module_innershape"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Screen 7 -->
            <div id="screen7" style="display: none;">
                <div class="list_module">
                    <!--Module 37-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 37</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_37' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_37' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_37' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_37' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_37' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 38-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 38</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_38' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_38' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_38' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_38' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_38' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 39-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 39</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_39' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_39' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_39' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_39' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_39' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 40-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 40</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_40' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_40' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_40' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_40' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_40' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 41-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 41</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_41' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_41' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_41' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_41' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_41' class="module_innershape"></div>
                        </div>
                    </div>

                    <!--Module 42-->
                    <div class="box_module">

                        <div class="box_head_module">
                            <p>MODULE 42</p>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC CURRENT') %>
                            </p>
                            <div id='module_DC_Current_42' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('DC VOLTAGE') %>
                            </p>
                            <div id='module_DC_Voltage_42' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('MODULE TEMP') %>
                            </p>
                            <div id='module_Temperature_DC_42' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('ENV TEMP') %>
                            </p>
                            <div id='module_Temperature_Environment_42' class="module_innershape"></div>
                        </div>

                        <div class="box_rectangle_module">
                            <p>
                                <%= __('STATUS') %>
                            </p>
                            <div id='module_StateWord_42' class="module_innershape"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--===============================================================
                                LOWER                               
    =================================================================-->
        <div class="lower-section">
            <div class="buttons-container">
                <button class="round-button" onclick="setScreen(0)">1</button>
                <button class="round-button" onclick="setScreen(1)">2</button>
                <button class="round-button" onclick="setScreen(2)">3</button>
                <button class="round-button" onclick="setScreen(3)">4</button>
                <button class="round-button" onclick="setScreen(4)">5</button>
                <button class="round-button" onclick="setScreen(5)">6</button>
                <button class="round-button" onclick="setScreen(6)">7</button>
            </div>
        </div>

        <!--Hàm chuyển đổi Screen-->
        <script>
            var screens = [
                document.getElementById('screen1'),
                document.getElementById('screen2'),
                document.getElementById('screen3'),
                document.getElementById('screen4'),
                document.getElementById('screen5'),
                document.getElementById('screen6'),
                document.getElementById('screen7')
            ];

            var currentScreenIndex = 0; // Ban đầu là màn hình 1
            screens[currentScreenIndex].style.display = 'block';

            function setScreen(index) {
                if (index >= 0 && index < screens.length) {
                    screens[currentScreenIndex].style.display = 'none'; // Ẩn màn hình hiện tại
                    currentScreenIndex = index;
                    screens[currentScreenIndex].style.display = 'block'; // Hiển thị màn hình dựa trên chỉ số đầu vào
                }
            }

        </script>
    </div>

    <!-- Header -->
    <%- include ('header.ejs') %>

        <!--______________KHAI BÁO CÁC FILE SOCKET______________ -->
        <script src="/js/socket/module.js"></script>
</body>