<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Duy Anh - R&D">
    <title> <%= __('RECTIFIER MONITORING SYSTEM') %> </title>

    <script src="socket.io/socket.io.js"></script>
    

    <!--______________KHỞI TẠO SOCKET.IO______________ -->
    <script>
        var socket = io("localhost:3000")
        socket.on('error', function (message) {
            alert(message);
        });
    </script>

    <!--______________KHAI BÁO CÁC SOURCE______________ -->
    <script src="https://kit.fontawesome.com/212982cf09.js" crossorigin="anonymous"></script>
    <script src="js/plotly-2.8.3.min.js"></script>
    <script src="js/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
    <script src="js/FileSaver.js"></script>

    <!--______________ĐƯỜNG DẪN CÁC FILE FUNCTION JS______________ -->
    <script src="js/FC1_Common.js"></script>
    <script src="js/FC2_Alarm_Screen.js"></script>

    <!--______________ĐƯỜNG DẪN CSS______________ -->
    <link rel="stylesheet" href="CSS/root.css">
    <link rel="stylesheet" href="CSS/header.css">
    <link rel="stylesheet" href="CSS/screen_alarm.css">
    <link rel="stylesheet" href="CSS/screen_data.css">
    <!-- file css của alarm thừa hưởng từ file data.css ** phải có đôi -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!--______________ĐƯỜNG DẪN FAVICON______________ -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>

    <div id="Screen_Alarm">

        <div class="data-upper">
            <!-- DATE -->
            <div class="data-upper_date">

                <div class="data-upper_from">
                    <label class="label_search_start_date">
                        <p style="color: white;">
                            <%= __('FROM') %>
                        </p>
                    </label>
                    <input id="input-alarm_search_start_date" type="datetime-local">
                </div>

                <div class="data-upper_to">
                    <label class="label_search_end_date">
                        <p style="color: white;">
                            <%= __('TO') %>
                        </p>
                    </label>
                    <input id="input-alarm_search_end_date" type="datetime-local">
                </div>

            </div>

            <!-- BUTTON -->
            <div class="data-upper_button">
                <!-- Search button -->
                <button class="data-upper_button__style" onclick="fn_Alarm_By_Time();">
                    <%= __('SEARCH') %>
                </button>

                <!-- Refresh button -->
                <button class="data-upper_button__style" onclick="fn_Exit_Search_Alarm();">
                    <%= __('REFRESH') %>
                </button>

                <!-- Export to Excel button -->
                <button class="data-upper_button__style" onclick="fn_excel_alarm();">
                    <%= __('EXPORT EXCEL FILE') %>
                </button>
            </div>

        </div>

        <div class="data-lower">

            <table id="table_Alarm">

                <!-- Tiêu đề bảng -->
                <thead align="center">

                    <tr> <!-- Tiêu đề các cột -->
                        <th>
                            <%= __('DATE') %>
                        </th>

                        <th>
                            <%= __('DC CURRENT') %>
                        </th>

                        <th>
                            <%= __('DC VOLTAGE') %>
                        </th>

                        <th>
                            <%= __('STATUS') %>
                        </th>
                    </tr>

                </thead>

            </table>

        </div>




    </div>

    <!-- Header -->
    <%- include ('header.ejs') %>

</body>