<!-- =====================================================================================
                                      HEADER BAR                                     
=======================================================================================-->
<div id="header">

    <!--Menu Icon-->
    <label for="menu-input" class="header-menu">
        <i class="fa-solid fa-bars"></i>
    </label>

    <!--Logo-->
    <img src="\images\Logo\THACO_white.jpg" alt="" class="header-logo"
        onclick="fn_ScreenChange('Screen_Main','Screen_Setting','Screen_Chart','Screen_Module','Screen_Alarm','Screen_Status');">

    <!--System Tittle-->
    <div class="header-tittle">
        <p>
            <%= __('RECTIFIER MONITORING SYSTEM') %>
        </p>
    </div>

    <!--Language Button-->
    <div class="header-language">

        <div class="button_language">
            <i class="fa-solid fa-language" style="margin-right: 5px;"></i>
            <p>
                <%= displayLang %>
            </p>
            <i class="fa-solid fa-angle-down" style="margin-left: 5px;display: block"></i>
            <i class="fa-solid fa-angle-up" style="margin-left: 5px; display: none"></i>
        </div>

        <div id="languageDropdown" class="dropdown-content">
            <a href="/change-lang/en">
                <img src="images/Flag/america-flag.svg" class="flag-icon">
                <p>English</p>
            </a>

            <a href="/change-lang/vi">
                <img src="images/Flag/vietnam-flag.svg" class="flag-icon">
                <p>Tiếng Việt </p>
            </a>
        </div>

    </div>

    <!--F12 Button-->
    <div class="header-f12" id="toggleFullscreenIcon">
        <i class="fa-solid fa-expand" id="maximizeIcon"></i>
        <i class="fa-solid fa-compress" id="compressIcon" style="display: none;"></i>
    </div>

    <!--User Icon-->
    <div class="header-user">
        <i class="fa-regular fa-circle-user" style=" font-size: 1.5rem;"></i>
        <!-- <p> <%= __('USER') %> </p> -->
    </div>

    <!--Check Box to Click-->
    <input type="checkbox" hidden name="" class="menu-check" id="menu-input">


<!--===============================================================
                             SCRIPT                                 
=================================================================-->

<!--=======================================
            button Active                             
========================================-->
    <script>
        var button_language = document.querySelector('.button_language');

        // Khi nhấp vào nút, thêm class 'selected'
        button_language.addEventListener('click', function (event) {
            this.classList.add('active');
        });

        // Khi nhấp chuột vào bất kỳ đâu trên trang, loại bỏ class 'selected'
        document.addEventListener('click', function () {
            button_language.classList.remove('active');
        });

    </script>

<!--=======================================
            languageDropdown                             
========================================-->
    <script>
        // Tham chiếu tới các phần tử
        var headerLanguage = document.querySelector(".header-language");
        var dropdown = document.getElementById('languageDropdown');
        var angleDown = document.querySelector(".fa-solid.fa-angle-down");
        var angleUp = document.querySelector(".fa-solid.fa-angle-up");


        // Mở danh sách thả xuống khi ấn vào .header-language
        headerLanguage.addEventListener('click', function (event) {
            event.stopPropagation();  // Ngăn chặn sự kiện nổi bọt lên body

            if (dropdown.style.display === 'none' || dropdown.style.display === '') {
                dropdown.style.display = 'block';
                angleDown.style.display = 'none';
                angleUp.style.display = 'block';
            } else {
                dropdown.style.display = 'none';
                angleDown.style.display = 'block';
                angleUp.style.display = 'none';
            }
        });
        // Đóng danh sách thả xuống khi ấn ra ngoài
        document.body.addEventListener('click', function () {
            dropdown.style.display = 'none';
            angleDown.style.display = 'block';
            angleUp.style.display = 'none';
        });

        // Ngăn chặn sự kiện nổi bọt khi ấn vào .dropdown-content
        dropdown.addEventListener('click', function (event) {
            event.stopPropagation();
        });

    </script>

<!--=======================================
            FullScreen Button                            
========================================-->
    <script>
        var maximizeIcon = document.getElementById('maximizeIcon');
        var compressIcon = document.getElementById('compressIcon');
        // Maximize Icon
        document.getElementById("maximizeIcon").addEventListener("click", function () {
            if (!document.fullscreenElement) {
                if (document.documentElement.requestFullscreen) {
                    document.documentElement.requestFullscreen();
                } else if (document.documentElement.mozRequestFullScreen) { /* Firefox */
                    document.documentElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                    document.documentElement.webkitRequestFullscreen();
                } else if (document.documentElement.msRequestFullscreen) { /* IE/Edge */
                    document.documentElement.msRequestFullscreen();
                }
                this.style.display = 'none';
                compressIcon.style.display = '';
                compressIcon.classList.add('selected');
                document.getElementById("maximizeIcon").style.display = 'none';
                document.getElementById("compressIcon").style.display = '';
            }
        });

        // CompressIcon
        document.getElementById("compressIcon").addEventListener("click", function () {
            if (document.fullscreenElement) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { /* Firefox */
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { /* Chrome, Safari & Opera */
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE/Edge */
                    document.msExitFullscreen();
                }
                this.style.display = 'none';
                maximizeIcon.style.display = '';
                maximizeIcon.classList.add('selected');
                document.getElementById("compressIcon").style.display = 'none';
                document.getElementById("maximizeIcon").style.display = '';
            }
        });

        // Lắng nghe sự kiện thay đổi chế độ màn hình
        document.addEventListener('fullscreenchange', function () {
            if (!document.fullscreenElement) {
                document.getElementById("compressIcon").style.display = 'none';
                document.getElementById("maximizeIcon").style.display = '';
                maximizeIcon.classList.remove('selected');
                compressIcon.classList.remove('selected');
            }
        });


    </script>




<!-- ===================================================================================
                                      OVERLAY                                     
=====================================================================================-->
    <label for="menu-input" class="nav_overlay"></label>

<!-- ===================================================================================
                                      NAVIGATION BAR                                     
=====================================================================================-->

    <nav class="nav_slide">

        <!--LOGO-->
        <div class="nav_image-wrapper">
            <img id="navImage" src="images/Logo/THACO_blue.jpg" alt="Logo THACO INDUSTRIES"
                onclick="fn_ScreenChange('Screen_Main','Screen_Setting','Screen_Chart','Screen_Module','Screen_Alarm','Screen_Status');">
        </div>

        <!--X Button-->
        <label for="menu-input" class="nav_slide-close">
            <i class="fa-solid fa-xmark"></i>
        </label>

        <!--List of Buttons-->
        <ul class="nav_slide-list">

            <!--Button_Main-->
            <li class="nav_slide-button" tabindex="0"
                onclick="fn_ScreenChange('Screen_Main','Screen_Setting','Screen_Chart','Screen_Module','Screen_Alarm', 'Screen_Status', 'Screen_Chart');">
                <i class="fa fa-home"></i>
                <p>
                    <%= __('HOME') %>
                </p>

            </li>

            <!--Button_Status-->
            <li class="nav_slide-button" tabindex="0"
                onclick="fn_ScreenChange('Screen_Status','Screen_Setting','Screen_Chart','Screen_Module','Screen_Alarm','Screen_Main', 'Screen_Data');">
                <i class="fa-solid fa-server"></i>
                <p>
                    <%= __('INTERFACE STATUS') %>
                </p>

            </li>

            <!--Button_Setting-->
            <li class="nav_slide-button" tabindex="0"
                onclick="fn_ScreenChange('Screen_Setting','Screen_Main','Screen_Chart','Screen_Module','Screen_Alarm','Screen_Status', 'Screen_Data');">
                <i class="fas fa-cog"></i>
                <p>
                    <%= __('PARAMETER SETIING') %>
                </p>

            </li>

            <!--Button_Chart-->
            <li class="nav_slide-button" tabindex="0"
                onclick="fn_ScreenChange('Screen_Chart','Screen_Main','Screen_Setting','Screen_Module','Screen_Alarm','Screen_Status','Screen_Data');">
                <i class="fa-solid fa-chart-simple"></i>
                <p>
                    <%= __('REALTIME CURVE') %>
                </p>

            </li>

            <!--Button_Data-->
            <li class="nav_slide-button" tabindex="0"
                onclick="fn_ScreenChange('Screen_Data','Screen_Main','Screen_Setting','Screen_Module','Screen_Alarm','Screen_Status','Screen_Chart');">
                <i class="fa-solid fa-cloud"></i>
                <p>
                    <%= __('LOG DATA') %>
                </p>

            </li>

            <!--Button_Module-->
            <li class="nav_slide-button" tabindex="0"
                onclick="fn_ScreenChange('Screen_Module', 'Screen_Main', 'Screen_Setting', 'Screen_Chart', 'Screen_Alarm', 'Screen_Status', 'Screen_Data');">
                <i class="fa-regular fa-hard-drive"></i>
                <p>
                    <%= __('MODULE STATUS') %>
            </li>

            <!--Button_Alarm-->
            <li class="nav_slide-button" tabindex="0"
                onclick="fn_ScreenChange('Screen_Alarm','Screen_Main','Screen_Setting','Screen_Chart','Screen_Module','Screen_Status','Screen_Data'); fn_Alarm_Show();">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <p>
                    <%= __('WARNING HISTORY') %>
                </p>

            </li>

        </ul>
    </nav>


</div>