<div id="Screen_Setting">

    <!-- Danh sách các cài đặt -->
    <div class="Setting_list-container">

        <!-- Cài đặt điện áp hoạt động đầu tiên -->
        <div class="rectangle">
            <%= __('THE FIRST OPERATING VOLTAGE') %>
                <div id="setting_Work_Voltage_1" class="innershape"></div>
        </div>

        <!-- Cài đặt bảo vệ điện áp -->
        <div class="rectangle">
            <%= __('PROTECT VOLTAGE SETTING') %>
                <div id="setting_Protect_Voltage" class="innershape"></div>
        </div>

        <!-- Cài đặt điện áp hoạt động thứ hai -->
        <div class="rectangle">
            <%= __('THE SECOND OPERATING VOLTAGE') %>
                <div id="setting_Work_Voltage_2" class="innershape"></div>
        </div>

        <!-- Cài đặt giới hạn dòng điện -->
        <div class="rectangle">
            <%= __('LIMITED CURRENT SETTING') %>
                <div id="setting_Given_Current" class="innershape"></div>
        </div>

        <!-- Cài đặt thời gian giữ đầu tiên -->
        <div class="rectangle">
            <%= __('THE FIRST TIME KEEPING') %>
                <div id="setting_The_first_timekeeping" class="innershape"></div>
        </div>

        <!-- Cài đặt quá dòng -->
        <div class="rectangle">
            <%= __('OVER CURRENT SETTING') %>
                <div id="setting_OverCurrent" class="innershape"></div>
        </div>

        <!-- Cài đặt thời gian giữ thứ hai -->
        <div class="rectangle">
            <%= __('THE SECOND TIME KEEPING') %>
                <div id="setting_The_second_timekeeping" class="innershape"></div>
        </div>

        <!-- Cài đặt quá điện áp -->
        <div class="rectangle">
            <%= __('OVER VOLTAGE SETTING') %>
                <div id="setting_OverVoltage" class="innershape"></div>
        </div>

        <!-- Cài đặt thời gian tăng điện áp -->
        <div class="rectangle">
            <%= __('VOLTAGE UP TIME') %>
                <div id="setting_Voltage_Time" class="innershape"></div>
        </div>

        <!-- Cài đặt quá nhiệt độ -->
        <div class="rectangle">
            <%= __('OVER TEMP SETTING') %>
                <div id="setting_Set_LimitTemp_Envi" class="innershape"></div>
        </div>

        <!-- Cài đặt thời gian giảm điện áp -->
        <div class="rectangle">
            <%= __('VOLTAGE DOWN TIME') %>
                <div id="setting_Down_Voltage_Time" class="innershape"></div>
        </div>

        <!-- Cài đặt nhiệt độ cao -->
        <div class="rectangle">
            <%= __('HIGH TEMP SETTING') %>
                <div id="setting_Set_OverTemp_Envi" class="innershape"></div>
        </div>
    </div>
</div>
