<!-- ______________CODE MÀN HÌNH CHÍNH______________ -->
<div id="Screen_Main">
    <script> fn_ImageChange("EDA", "ED", "ED_working") </script>



    <div class="list-container">

        <!-- DC Current -->
        <div class="list-item">
            <div class="list-knob">
                <input type="text" value="75" class="knob-Current-DC" data-value="75">
                <script>
                    $(".knob-Current-DC").knob({
                        'width': 180,
                        'height': 180,
                        'fgColor': "#FF0000",
                        'inputColor': "FF0000",
                        'min': 0,
                        'max': 2000,
                        'angleArc': 250,
                        'angleOffset': -125
                    });
                </script>
            </div>
            <p class="list-text">
                <%= __('DC CURRENT') %>
            </p>
        </div>

        <!-- DC Voltage -->
        <div class="list-item">
            <div class="list-knob">
                <input type="text" value="75" class="knob-Voltage-DC" data-value="75">
                <script>
                    $(".knob-Voltage-DC").knob({
                        'width': 180,
                        'height': 180,
                        'fgColor': "#FF0000",
                        'inputColor': "FF0000",
                        'min': 0,
                        'max': 1000,
                        'angleArc': 250,
                        'angleOffset': -125
                    });
                </script>
            </div>
            <p class="list-text">
                <%= __('DC VOLTAGE') %>
            </p>
        </div>

        <!-- Given Voltage -->
        <div class="list-item">
            <div class="list-knob">
                <input type="text" value="75" class="knob-Given-voltage" data-value="75">
                <script>
                    $(".knob-Given-voltage").knob({
                        'width': 180,
                        'height': 180,
                        'fgColor': "rgb(147,42,182)",
                        'inputColor': "rgb(147,42,182)",
                        'min': 0,
                        'max': 1000,
                        'angleArc': 250,
                        'angleOffset': -125
                    });
                </script>
            </div>
            <p class="list-text">
                <%= __('GIVEN VOLTAGE') %>
            </p>
        </div>

        <!-- Time left I -->
        <div class="list-item">
            <div class="list-knob">
                <input type="text" value="75" class="knob-Time-1" data-value="75">
                <script>
                    $(".knob-Time-1").knob({
                        'width': 180,
                        'height': 180,
                        'fgColor': "rgb(60,141,188)",
                        'inputColor': "rgb(60,141,188)",
                        'min': 0,
                        'max': 200,
                        'angleArc': 250,
                        'angleOffset': -125
                    });
                </script>
            </div>
            <p class="list-text">
                <%= __('REMAINING TIME OF PROCESS I') %>
            </p>
        </div>

        <!-- Time left II -->
        <div class="list-item">
            <div class="list-knob">
                <input type="text" value="75" class="knob-Time-2" data-value="75">
                <script>
                    $(".knob-Time-2").knob({
                        'width': 180,
                        'height': 180,
                        'fgColor': "rgb(60,141,188)",
                        'inputColor': "rgb(60,141,188)",
                        'min': 0,
                        'max': 200,
                        'angleArc': 250,
                        'angleOffset': -125
                    });
                </script>
            </div>
            <p class="list-text">
                <%= __('REMAINING TIME OF PROCESS II') %>
            </p>
        </div>

        <!-- Number of working modules -->
        <div class="list-item">
            <div class="list-knob">
                <input type="text" value="75" class="knob-num-modules" data-value="75">
                <script>
                    $(".knob-num-modules").knob({
                        'width': 180,
                        'height': 180,
                        'fgColor': "rgb(0,166,90)",
                        'inputColor': "rgb(0,166,90)",
                        'min': 0,
                        'max': 42,
                        'angleArc': 250,
                        'angleOffset': -125
                    });
                </script>
            </div>
            <p class="list-text">
                <%= __('NUMBER OF WORKING MODULES') %>
            </p>
        </div>

    </div>

    <img id="EDA">

    <div class="shape_fault">
        <%= __('ERRORED MODULES') %>
            <div class="inner_shape_fault"></div>

    </div>
</div>