<!-- ______________CODE MÀN HÌNH ALARM______________ -->
<div id="Screen_Alarm">

    <div class="data-upper">

        <!-- DATE -->
        <div class="data-upper_date">

            <div class="data-upper_from">
                <label class="label_search_start_date">
                    <p style="color: white;">
                        <%= __('FROM') %>
                    </p>
                </label>
                <input id="input-alarm_search_start_date" type="datetime-local">
            </div>

            <div class="data-upper_to">
                <label class="label_search_end_date">
                    <p style="color: white;">
                        <%= __('TO') %>
                    </p>
                </label>
                <input id="input-alarm_search_end_date" type="datetime-local">
            </div>

        </div>

        <!-- BUTTON -->
        <div class="data-upper_button">
            <!-- Search button -->
            <button class="data-upper_button__style" onclick="fn_Alarm_By_Time();">
                <%= __('SEARCH') %>
            </button>

            <!-- Refresh button -->
            <button class="data-upper_button__style" onclick="fn_Exit_Search_Alarm();">
                <%= __('REFRESH') %>
            </button>

            <!-- Export to Excel button -->
            <button class="data-upper_button__style"  onclick="fn_excel_alarm();">
                <%= __('EXPORT EXCEL FILE') %>
            </button>
        </div>

    </div>

    <div class="data-lower">

        <table id="table_Alarm">

            <!-- Tiêu đề bảng -->
            <thead align="center">

                <tr> <!-- Tiêu đề các cột -->
                    <th>
                        <%= __('DATE') %>
                    </th>

                    <th>
                        <%= __('DC CURRENT') %>
                    </th>

                    <th>
                        <%= __('DC VOLTAGE') %>
                    </th>

                    <th>
                        <%= __('STATUS') %>
                    </th>
                </tr>

            </thead>

        </table>

    </div>




</div>